.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  animation: fadeIn 1s ease-in-out;
  cursor: pointer;
}
.food-item-img-cont img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.food-item-info {
  padding: 20px;
}
.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.food-item-name-rating h3 {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}
.food-item-name-rating img {
  width: 70px;
}
.food-item-description p {
  font-size: 12px;
  color: #767676;
}
.food-item-price p {
  color: tomato;
  font-weight: 500;
  font-size: 24px;
  margin-top: 10px;
}
.food-item-img-cont {
  position: relative;
}
img.food-item-add{
  width: 30px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 1;
  
}