.add {
  width: 70%;
  margin-left: max(5vw, 20px);
  margin-top: max(5vh, 20px);
  color: #6d6d6d;
  font-size: 18px;
}
.add form {
  gap: 20px;
}
.add-img-upload img {
  height: 100px;
  cursor: pointer;
}
.add-product-name,
.add-product-description {
  width: max(50%, 280px);
}
.add-product-name input,
.add-product-description textarea {
  padding: 0.5rem;
  font-size: 16px;
}
.add-product-description textarea {
  resize: none;
}
.add-category-price {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 50%;
}
.add-category-price select,
.add-category-price input {
  padding: 0.5rem;
  font-size: 17px;
  color: #6d6d6d;
}
.add-btn {
  max-width: 120px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: 600;
}
.add h1 {
  text-align: center;
  font-style: italic;
}
