.login-popup {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00000090;
  z-index: 1000;
  display: grid;
}
.login-popup-container {
  background-color: white;
  place-self: center;
  color: #808080;
  width: max(23vw, 330px);
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn 0.5s;
}
.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-popup-title img {
  width: 16px;
  cursor: pointer;
}
.login-popup-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-popup-input input {
  padding: 10px;
  outline: none;
  border: 1px solid #c9c9c9;
  border-radius: 8px 0 8px 8px;
}
.login-popup-input + button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor: pointer;
}
.login-popup-condition{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: -15px;
    gap: 10px;
}
.login-popup-condition input {
    width: 15px;
    height: 15px;
    cursor: pointer;

}
.login-popup-condition label{
    cursor: pointer;
}
.login-popup-container p span{
    color: tomato;
    cursor: pointer;
    font-weight: 500;
}