nav.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white; 
}

.navbar .nav-menu {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  color: #49557e;
}

.navbar .active {
  padding-bottom: 5px;
  font-weight: 600;
  border-bottom: 2px solid #49557e;
}

.navbar .nav-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-search {
  cursor: pointer;
}

.navbar-cart {
  position: relative;
  cursor: pointer;
}

.dot {
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -8px;
}

.navbar button.signin {
  background-color: transparent;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  color: #49557e;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
.navbar button.signin:hover {
  background-color: #fff4f2;
  font-weight: 500;
}
