.header {
  min-height: 34vw;
  margin: 30px auto;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  background: url("./header_img.png") no-repeat center center/contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  left: 6vw;
  bottom: 10%;
  color: white;
  animation: fadeIn 3s ease-out;
}
.header-container h1 {
  font-size: max(4.5vw, 22px);
  font-weight: 600;
}
.header-container p {
  font-size: 1.1vw;
}
.header-container button {
  border: none;
  background-color: white;
  font-size: max(1vw, 13px);
  padding: 1vw 2.3vw;
  color: #747474;
  cursor: pointer;
  border-radius: 50px;
}

@media screen and (max-width: 1050px) {
  .header {
    height: 38vw;
  }
 
}
@media screen and (max-width: 860px) {
  .header-container {
    max-width: 55%;
  bottom: 15%;
  }
  .header-container p {
    font-size: .9vw;
  }
  .header-container button {
    padding: 2vw 4vw;
  }
}
@media screen and (max-width: 560px){
   .header-container h1{
    font-size: 4.5vw;
   }
 .header-container p{
  display: none;
 }
}